:root {
    /* Colors */

    /* Primary */

    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    /* Neutral */

    /* Light Theme */

    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);
    --light-theme-bg-mobile-img: url(assets/images/bg-mobile-light.jpg);

    /* Dark Theme */

    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --dark-theme-bg-mobile-img: url(assets/images/bg-mobile-dark.jpg);

    /* hover */
    --light-grayish-blue: hsl(236, 33%, 92%);

    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue: hsl(237, 14%, 26%);

    /* Typography */

    --font-size-body: 1.8rem;
    --font-family: 'Josefin Sans', sans-serif;

}

.is-light-theme {
    --dark-theme-bg-mobile-img: var(--light-theme-bg-mobile-img)
}

body {
    font-family: var(--font-family);
    background-color: var(--very-dark-blue);
    font-size: var(--font-size-body);
}

.app {
    max-width: 600px;
    background-image: var(--dark-theme-bg-mobile-img);
    background-repeat: no-repeat;
}

.header {
    display: flex;
}

.header__title {
    color: var(--light-grayish-blue);
}

.header__toggle-theme {
    background: none;
    border: none;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
}

input[type="checkbox"] {
    position: relative;
    width: 2rem;
    height: 2rem;
    border: 1px solid gray;
    /* Adjusts the position of the checkboxes on the text baseline */
    vertical-align: -2px;
    /* Set here so that Windows' High-Contrast Mode can override */
    /* color: green; */
    border-radius: 50%;
}

input[type="checkbox"]::before {
    content: url(assets/images/icon-check.svg);
    position: absolute;
    font-size: 1.2em;
    right: 2px;
    top: -0.35em;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
}