:root {
    /* Colors */

    /* Primary */

    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    /* Neutral */

    /* Light Theme */

    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --meidum-dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);
    --light-theme-bg-mobile-img: url(assets/images/bg-mobile-light.jpg);

    /* Dark Theme */

    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --dark-theme-bg-mobile-img: url(assets/images/bg-mobile-dark.jpg);

    /* hover */
    --light-grayish-blue: hsl(236, 33%, 92%);

    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue: hsl(237, 14%, 26%);

    /* Typography */

    --font-size-body: 1.6rem;
    --font-family: 'Josefin Sans', sans-serif;

}

.is-light-theme {
    --dark-theme-bg-mobile-img: var(--light-theme-bg-mobile-img);
    --very-dark-desaturated-blue: var(--very-light-gray);
    --light-grayish-blue: var(--very-dark-grayish-blue);
}

body {
    font-family: var(--font-family);
    background-color: var(--very-dark-blue);
    font-size: var(--font-size-body);
    font-weight: 400;
}

.app {
    max-width: 600px;
    background-image: var(--dark-theme-bg-mobile-img);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center top;
}

.header {
    display: flex;
}

.header__title {
    color: var(--light-grayish-blue);
}

.header__toggle-theme {
    background: none;
    border: none;
    cursor: pointer;
}

main {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-desaturated-blue);
}

.new-task-input {
    padding: 4px 30px;
    background-color: var(--very-dark-desaturated-blue);
    border: none;
    caret-color: var(--light-grayish-blue);
    color: var(--light-grayish-blue);
}

input::placeholder {
    opacity: 0.5;
    font-size: 16px;
}

.new-task-input:focus-visible {
    outline: none;
}

.new-task-icon {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    left: 25px;
    bottom: -3px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid var(--very-dark-grayish-blue);
}

.task-list-form {}

ul {
    padding: 0;
}

.task {
    list-style-type: none;
    cursor: pointer;
    display: flex;
    color: var(--light-grayish-blue);
}

label,
input,
span {
    cursor: inherit;
}

input[type="checkbox"] {
    appearance: none;
}

input[type="checkbox"] {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    /* Adjusts the position of the checkboxes on the text baseline */
    /* vertical-align: -2px; */
    /* Set here so that Windows' High-Contrast Mode can override */
    border-radius: 50%;
    border: 1px solid var(--very-dark-grayish-blue);
    margin-right: 8px;
}

input[type="checkbox"]::before {
    content: url(assets/images/icon-check.svg);
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: hidden;
    border-radius: 50%;
    display: flex;
    transform: scale(0.8);
    justify-content: center;
}

input[type="checkbox"]:checked {
    background-image: linear-gradient(140deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

.task--completed {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}

.button-delete-task {
    background: none;
    border: none;
    cursor: pointer;
}

.task-summary-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.task-summary-container,
.task-summary-container button {
    color: var(--dark-grayish-blue);
}

.task-summary-container button {
    border: none;
    background: none;
    cursor: pointer;
}

.footer-info {
    color: var(--dark-grayish-blue);
}