:root {
    /* Colors */

    /* Primary */

    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    /* Neutral */

    /* Light Theme */

    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --meidum-dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);
    --light-theme-bg-mobile-img: url(assets/images/bg-mobile-light.jpg);

    /* Dark Theme */

    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --dark-theme-bg-mobile-img: url(assets/images/bg-mobile-dark.jpg);

    /* hover */
    --light-grayish-blue: hsl(236, 33%, 92%);

    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue: hsl(237, 14%, 26%);

    /* Typography */

    --font-size-body: 1.6rem;
    --font-family: 'Josefin Sans', sans-serif;

    /* Shadow */
    --shadow-color: 0deg 12% 4%;
    --shadow-elevation-low:
        0px 0.9px 1px hsl(var(--shadow-color) / 0.32),
        0px 1.6px 1.9px -1.1px hsl(var(--shadow-color) / 0.35),
        0px 3.8px 4.4px -2.2px hsl(var(--shadow-color) / 0.37);
    --shadow-elevation-medium:
        0px 0.9px 1px hsl(var(--shadow-color) / 0.34),
        0px 3.2px 3.7px -0.7px hsl(var(--shadow-color) / 0.36),
        0px 7.9px 9.2px -1.5px hsl(var(--shadow-color) / 0.38),
        0.1px 18.9px 22px -2.2px hsl(var(--shadow-color) / 0.39);
    --shadow-elevation-high:
        0px 0.9px 1px hsl(var(--shadow-color) / 0.31),
        0px 6px 7px -0.3px hsl(var(--shadow-color) / 0.32),
        0px 11.2px 13px -0.6px hsl(var(--shadow-color) / 0.33),
        0.1px 18.1px 21px -1px hsl(var(--shadow-color) / 0.34),
        0.1px 28.4px 33px -1.3px hsl(var(--shadow-color) / 0.35),
        0.2px 43.7px 50.8px -1.6px hsl(var(--shadow-color) / 0.36),
        0.3px 65.8px 76.5px -1.9px hsl(var(--shadow-color) / 0.37),
        0.4px 96.3px 111.9px -2.2px hsl(var(--shadow-color) / 0.38);

}

.is-light-theme {
    --dark-theme-bg-mobile-img: var(--light-theme-bg-mobile-img);
    --very-dark-desaturated-blue: var(--very-light-gray);
    --light-grayish-blue: var(--very-dark-grayish-blue);
    --very-dark-blue: var(--very-light-gray);
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    font-weight: 400;
}

.app {
    /* max-width: 600px; */
    height: 100%;
    background-color: var(--very-dark-blue);
    background-image: var(--dark-theme-bg-mobile-img);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center top;
}

.header {
    display: flex;
    /* width: 100%; */
    justify-content: space-evenly;
    gap: 150px;
    padding-top: 20px;
}

.header__title {
    color: white;
    letter-spacing: 1rem;
}

.header__toggle-theme {
    background: none;
    border: none;
    cursor: pointer;
}

main {
    min-width: 330px;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    max-width: 340px;
}

form {
    width: 100%;
}

.new-task-input,
.task-list-form,
.task-summary-container,
.filters-container {
    background-color: var(--very-dark-desaturated-blue);
}

.new-task-input {
    padding: 11px 40px;
    border: none;
    caret-color: var(--light-grayish-blue);
    color: var(--light-grayish-blue);
    width: 100%;
    border-radius: 5px;
}

input::placeholder {
    opacity: 0.5;
    font-size: 15px;
}

.new-task-input:focus-visible {
    outline: none;
}

.new-task-icon {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    left: 7px;
    bottom: -42px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid var(--very-dark-grayish-blue);
}

.task-list-form {
    border-top-left-radius: 5px;
    text-align: center;
}

.list-container {
    overflow-y: auto;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: var(--very-dark-desaturated-blue);
}

/*---------scrollbar-------------*/
.list-container::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

.list-container::-webkit-scrollbar-track {
    background: var(--very-dark-desaturated-blue);
    border-top-right-radius: 5px;
}

.list-container::-webkit-scrollbar-thumb {
    /* background: var(--bright-blue); */
    background: hsla(280, 87%, 65%, 0.842);
    border-radius: 5px;
    border: 2px solid var(--very-dark-desaturated-blue);
}

.list-container::-webkit-scrollbar-thumb:hover {
    background: hsl(280, 90%, 73%);
}

/*---------scrollbar-------------*/

ul {
    padding: 0;
}

.task-label {
    display: flex;
}

.task {
    list-style-type: none;
    display: flex;
    color: var(--light-grayish-blue);
    border-bottom: 1px solid var(--very-dark-grayish-blue);
    justify-content: space-between;
    padding: 11px 10px;
    text-align: start;
}

.task-text {
    cursor: grab;
}

input[type="checkbox"],
input[type="radio"] {
    appearance: none;
}

input[type="checkbox"] {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    /* Adjusts the position of the checkboxes on the text baseline */
    /* vertical-align: -2px; */
    /* Set here so that Windows' High-Contrast Mode can override */
    border-radius: 50%;
    border: 1px solid var(--very-dark-grayish-blue);
    margin-right: 8px;
    flex-shrink: 0;
    cursor: pointer;
    /*animation*/
    background-size: 100% 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-position: bottom;
    transition: background-size 0.2s ease-in-out;
}

input[type="checkbox"]::before {
    content: url(assets/images/icon-check.svg);
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: hidden;
    border-radius: 50%;
    display: flex;
    transform: scale(0.8);
    justify-content: center;
    /*animation*/
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

input[type="checkbox"]:checked {
    background-image: linear-gradient(140deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-size: 100% 100%;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
    opacity: 1;
}

.task--completed {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}

.button-delete-task {
    background: none;
    border: none;
    cursor: pointer;
}

.no-items-message {
    color: var(--dark-grayish-blue);
    padding: 15px 0;
}

.task-summary-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    width: 100%;
    margin-top: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: var(--shadow-elevation-medium);
}

.task-summary-container,
.task-summary-container button {
    color: var(--dark-grayish-blue);
}

.task-summary-container button {
    border: none;
    background: none;
    cursor: pointer;
}

.filters-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.85rem;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: var(--shadow-elevation-medium);
    margin-bottom: 15px;
}

.filters-container label {
    cursor: pointer;
}

.filters-container button {
    border: none;
    background: none;
}

.filter-button {
    color: var(--dark-grayish-blue);
}

.radio-checked {
    color: var(--bright-blue);
}

.footer-info {
    color: var(--dark-grayish-blue);
}